<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.min.js"></script>
</head>

<body>
    <h2>Corespondenta intre coloane</h2>
    <form method="POST">
        {%csrf_token%}
        {{form}}
        <button type="submit" name="compile">Configureaza</button>
    </form>

    <center>
        <b>Preview</b>
        <table id="preview">
            <thead>
                <tr id="cols_italic" style="font-style: italic; color:gray">
                    <th></th>
                </tr>
            </thead>
            <tbody id="body">
                <tr id="header_row">
                    <th></th>
                </tr>
            </tbody>
        </table>
    </center>

</body>

<script>
    function draw_header(header){
        r = '<th>' + header + '</th>\n'

        document.getElementById('header_row').innerHTML += r
    }

    function draw_row(row){
        r = ''
        row.forEach((cell) => {
            r += '<td>' + cell + '</td>\n'
        })

        document.getElementById('body').innerHTML += '<tr>' + r + '</tr>\n'
    }
    function draw_map(map){
        r = ''
        map['cols'].forEach((col) => {
            r += '<th>' + col + '</th>'
        })

        document.getElementById('cols_italic').innerHTML += r
    }
    xl = JSON.parse("{{json_file}}".replace(/&quot;/g, '"'))
    draw_map(xl['map'])

    xl['headers'].forEach(draw_header)

    xl['rows'].forEach(draw_row)


</script>