{%  extends 'base.html' %}

{% block body %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <nav class="navbar navbar-expand-lg">
        
        <div class="container-fluid">
        
        <a href="/" class="navbar-brand myhref">&mdash; Mercury &mdash;</a>
        
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        
            <div class = "bars"></div>
            <div class = "bars"></div>
            <div class = "bars"></div>

        </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
        
                <div class="navbar-nav">
            
                    <a href="/" class="nav-item nav-link active myhref">Acasa</a>
                    <a href= {% url 'oferte' %} class="nav-item nav-link active myhref">Pricing</a>
                    <a href= {% url 'despre_noi' %} class="nav-item nav-link active myhref">Despre Noi</a>
            
                </div>
        
                <div class="navbar-nav ms-auto">
            
                    <a href= {% url 'processcode' %} class="nav-item nav-link active myhref">Contul Meu</a>
            
                </div>
        
            </div>

        </div>
    
    </nav>

  <body class="img js-fullheight">
      
      <section class="ftco-section">
          
          <div class="container">
                
                <div class="row justify-content-center">
                    
                    <div class="col-md-6 col-lg-4">
                        
                        <div class="login-wrap p-0">
                            
                            <h3 class="mb-4 text-center">Hello {{ display_name }}</h3>
                            <br>
                            <a class = "myhref" href="{% url 'iesiri' %}"> <p class="w-100 text-center">&mdash; Facturi Iesiri &mdash;</p> </a>
                            <a class = "myhref" href="{% url 'logout' %}"> <p class="w-100 text-center">&mdash; Log Out &mdash;</p> </a>
                            
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>


<style>
    .nav
    {
        color:transparent;
    }
    
    a.myhref
    {
        text-decoration: none;
        color: #fbceb5;
  	    transition: 0.5s;
    }

    a.myhref:hover
    {
        color: white;
    }

    .bars
    {
        width: 30px;
        height: 1.5px;
        background-color: white;
        margin: 5px 0;
    }
</style>
{% endblock %}


